html {
    scroll-behavior: smooth;
 
  }

.to-top
{   background-color: #c9a04f;
    color: #444444; 
    position: fixed;
    bottom: 60px;
    right: 32px;
    width: 50px;
    opacity: 0;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-decoration: none;  
    transition: all .4s;
    pointer-events: none;
}  

.to-top.active{
    bottom: :32px;
    pointer-events: auto;
    opacity: 1;
    z-index: 1;
}


.home{
    background-image: url("../images/saket2.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 700px;
    position: relative;
    overflow: hidden;

}

.home .titles {
    width: 100%;
    height: 100%;
    min-height: 700px;
    position: absolute;
    padding: 0 80px;
    top: 0;
    background-color: rgb(0, 0,0,0.5);
}

.home .titles-wrap{
    margin-top: 300px;
    
}

.home h1{
    color:white;
    width: 100%;
    display: block;
    margin:0;
    font-size: 45px;
    font-weight: 500;
    line-height: 1.7;
}

.home h1 span{
    color: #c9a04f;
}

.home h2{
    color: white;
    display: block;
    font-size: 27px;
    line-height: 1.7;
}

.home h2 span{
    color: white;
}

.home p{
    color: white;
    font-size: 18px;
    margin-top: 20px;
    max-width: 450px;
}

.btn{
    color: white;
    background-color: #c9a04f;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: 600px;
    text-transform: capitalize;
    padding:0 40px;
    border-radius: 0;
    position: relative;
    display: inline-block;
    border:2px solid #c9a04f;
}

.btn:hover{
    color: white;
    text-decoration: none;

}

@media only screen and (max-width:768px){
    .home .titles{
        padding:0 40px;
        width: 100%;
    }
    .home h2,.home p{
        font-size: 20px;;
    }
}

@media only screen and (max-width:576px){
    .home h2, .home p{
        font-size: 18px;
    }
    .home h1{
        font-size: 30px;
    }
}

@media only screen and (max-width:350px){
    .home h2,.home p{
        font-size: 16px;
    }
    .home h1{
        font-size: 28px;
    }
}


.services{
    background-color: #f9f9f9;
    padding:100px 0 70px 0;

}

.sec-title{
    margin-bottom: 50px;

}

.sec-title h2{
    font-size: 26px;
    font-weight:700 ;
    line-height: 1.3;
    color: #444444;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 10px 0 0;
    position: relative;
    z-index: 1;

}

.sec-title h2::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 70%;
    z-index: -1;
    background-color: #c9a04f;
}

.services .service-box{
    border: 1px solid #dddddd;
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
}

.services .service-box .icontitle{
    overflow: hidden;
    margin-bottom: 10px;

}

.services .service-box .icontitle i{
    float:left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 21px;
    color: #c9a04f;
    text-align: center;

}

.services .service-box .title {
    padding: 0 0 0 70px;

}

.services .service-box .title span{
    color: #c9a04f;
    font-size: 16px;
}

.services .service-box .title h4{
    font-size: 18px;
    font-weight: 700;
    color: #444444;
    text-transform: capitalize;
    margin: 7px 0 0 0;
}

.services .service-box p {
    margin: 0 px;

}




.artwork{
    padding-top: 100px;
    padding-bottom: 70px;
    
}

.artwork .artlist-filter{
    margin-bottom: 30px;
    padding: 0;

}

.artwork .artlist-filter li{
    list-style: none;
    display: inline-block;
}


.artwork .artlist-filter a{
    display: block;
    color: black;
    padding: 0 10px;
    margin: 4px 8px;
    cursor: pointer;
    line-height: 35px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 6s;

}

.artwork .artlist-filter a.active {
    color:#c9a04f;

}

.artwork .artlist-filter a:hover{
    color: #c9a04f;

}

.artprojects-wrapper > div{
    margin: 25px 0 0 0;
    
}

.artwork-box{
    position: relative;
    overflow: hidden;
    display: block;
    padding: 15px;
    box-shadow: 1px 2px 10px rgb(0,0,0,0.1);
}

.artwork-box a{
    display: inline-block;
    position: relative;

}


.artwork-box:hover .artwork-overlay{
    opacity: 0.5;
    transform:scale(1);
}

.artwork-box:hover .artwork-caption{
    opacity: 1;
}

.artwork-box:hover .artwork-img{
    transform: scale(1);
    width: 100%;
    transition: all 2s linear;
}

.artwork-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: #c9a04f;
    transition: all 0.2s linear;
    transform: scale(0);

}

.artwork-overlay h5{
    color: white;
}

.artwork-overlay p{
    font-size: 12px;
    letter-spacing:1.5px;
    margin-bottom: 0;
    color: white;
}

.artwork-overlay .artwork-caption{
    position: absolute;
    top:50%;
    transform: translate(-50%) ;
    opacity: 0;
    width: 100%;
    transition: all 0.5s linear;

}

.artoverlay-icons{
    border: 2px solid white;
    color: white;
    font-size: 22px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 41px;
    transition: all 0.5s;

}


.artoverlay-icons:hover{
    background-color: white;
    color: #c9a04f;
    border: 2px solid white;

}

@media only screen and (max-width:768px){
    .artlist-filter a{
        padding: 0 5px;
        margin: 4px 5px;
        font-size: 14px;
    }
}




.work{
    padding-top: 100px;
    padding-bottom: 70px;
    
}

.work .list-filter{
    margin-bottom: 30px;
    padding: 0;

}

.work .list-filter li{
    list-style: none;
    display: inline-block;
}


.work .list-filter a{
    display: block;
    color: black;
    padding: 0 10px;
    margin: 4px 8px;
    cursor: pointer;
    line-height: 35px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 6s;

}

.work .list-filter a.active {
    color:#c9a04f;

}

.work .list-filter a:hover{
    color: #c9a04f;

}

.projects-wrapper > div{
    margin: 25px 0 0 0;
    
}

.work-box{
    position: relative;
    overflow: hidden;
    display: block;
    padding: 15px;
    box-shadow: 1px 2px 10px rgb(0,0,0,0.1);
}

.work-box a{
    display: inline-block;
    position: relative;

}


.work-box:hover .work-overlay{
    opacity: 0.5;
    transform:scale(1);
}

.work-box:hover .work-caption{
    opacity: 1;
}

.work-box:hover .work-img{
    transform: scale(1);
    width: 100%;
    transition: all 2s linear;
}

.work-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: #c9a04f;
    transition: all 0.2s linear;
    transform: scale(0);

}

.work-overlay h5{
    color: white;
}

.work-overlay p{
    font-size: 12px;
    letter-spacing:1.5px;
    margin-bottom: 0;
    color: white;
}

.work-overlay .work-caption{
    position: absolute;
    top:50%;
    transform: translate(-50%) ;
    opacity: 0;
    width: 100%;
    transition: all 0.5s linear;

}

.overlay-icons{
    border: 2px solid white;
    color: white;
    font-size: 22px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 41px;
    transition: all 0.5s;

}


.overlay-icons:hover{
    background-color: white;
    color: #c9a04f;
    border: 2px solid white;

}

@media only screen and (max-width:768px){
    .list-filter a{
        padding: 0 5px;
        margin: 4px 5px;
        font-size: 14px;
    }
}